.TH papd.conf 5  26\ September\ 2000 "Netatalk 2.0-alpha1" 
.SH NAME
papd.conf \- Configuration file used by papd(8) to determine the  configuration of printers used by the Netatalk printing daemon
.SH DESCRIPTION
\fI:ETCDIR:/papd.conf\fR is the
configuration file used by papd to configure the printing services offered
by netatalk. Please note that papd must be enabled in \fI:ETCDIR:/netatalk.conf\fR
for this to take any effect. \fIpapd\fR shares
the same defaults as lpd on many systems, but not Solaris.
.PP
Any line not prefixed with \fI#\fR is
interpreted. The configuration lines are composed like:
.PP
\fIprintername:[options]\fR
.PP
The simplest case is to have either no papd.conf, or to have one
that has no active lines. In this case, atalkd should auto\-discover the
local printers on the machine. Please note that you can split lines by
using \fI\\\\fR.\fR
.PP
printername may be just a name (\fIPrinter 1\fR),
or it may be a full name in nbp_name format (\fIPrinter
1:LaserWriter@My Zone\fR). If more than 15 printers are defined,
you should explicitly define the zone for each printer. Otherwise, the Mac
Chooser not show all the printers.
.PP
The possible options are colon delimited (\fI:\fR),
and lines must be terminated with colons. The possible options and flags
are:
.TP 
\fIam=(uams list)\fR
The \fIam\fR option allows specific
UAMs to be specified for a particular printer. It has no effect if
the \fIau\fR flag is not present or if papd
authentication was not built into netatalk.
.TP 
\fIau\fR
If present, this flag enables authentication for the printer.
Please note that papd authentication must be built into netatalk for
this to take effect.
.TP 
\fIop=(operator)\fR
This specifies the operator name, for lpd spooling.
.TP 
\fIpa=(appletalk address)\fR
Allows specification of Appletalk addresses. Usually not
needed.
.TP 
\fIpd=(path to ppd file)\fR
Specifies a particular PPD (printer description file) to
associate with the selected printer.
.TP 
\fIpr=(lpd printer name)\fR
Sets the \fIlpd\fR printer that this
is spooled to.
.SH SEE\ ALSO
\fBpapd\fR(8),
\fBatalkd.conf\fR(5),
\fBlpd\fR(8)

