.TH CNID_METAD 8 "28 Nov 2003" ":NETATALK_VERSION:"

.SH NAME
cnid_metad \- start cnid_dbd daemons on request
.SH SYNOPSIS
.B cnid_metad
[
.B -d
]
[
.B -h
.I hostname
]
[
.B -p
.I port
]
[
.B -u
.I user
]
[
.B -g
.I group
]
[
.B -s
.I cnid_dbd pathname
]
.SH DESCRIPTION
.B cnid_metad
waits for requests from
.BR afpd
to start up instances of the
.BR cnid_dbd
daemon. It keeps track of the status of a 
.BR cnid_dbd
instance once started and will restart it if necessary.
.B cnid_metad
is normally started at boot time from
.BR /etc/rc
or equivalent and runs until shutdown.
.BR afpd
needs to be configured with the 
.B -cnidserver
option in
.BR afpd.conf 
in order to access
.B cnid_metad.
It is possible to run more than one instance of
.B cnid_metad
on the same machine if different values for the interface and/or port are specified with the
.B -h
and
.B -p
options.

.SH OPTIONS 
.TP 
.B \-d 
.B cnid_metad will remain in the foreground and
will also leave the standard input, standard output and standard error
file descriptors open. Useful for debugging.  
.TP 
.BI \-h " hostname"
Use 
.I hostname 
as the network interface for requests as opposed to
the default 
.B "localhost".  
.TP 
.BI \-p " port" 
Use 
.I port 
as the
port number for reqests. Default is 4700.  
.TP 
.BI \-u " user" 
Switch to the userid of 
.I user 
before serving requests. This userid will be
inherited by all 
.BR cnid_dbd 
daemon processes started.  
.TP 
.BI \-u " group" 
Switch to the groupid of 
.I group 
before serving requests. This groupid will be inherited by all 
.BR cnid_dbd 
daemon processes started. Both 
.I user 
and 
.I group 
must be specified as strings.  
.TP
.BI \-s " cnid_dbd pathname" 
Use 
.I cnid_dbd pathname 
as the pathname
of the executeable of the 
.BR cnid_dbd 
daemon. The default is 
.IR :SBINDIR:/cnid_dbd.  
.SH CAVEATS 
The number of 
.BR cnid_dbd
subprocecesses is currently limited to 128. This restriction will be
lifted in the future.
.LP
.B cnid_metad
does not block or catch any signals apart from SIGPIPE. It will
therefore exit on most signals received. This will also cause all instances of 
.BR cnid_dbd's
started by that 
.B cnid_metad
to exit gracefully. 
Since state about and IPC access to the
subprocesses is only maintained in memory by 
.B cnid_metad
this is desired behaviour. As soon as 
.B cnid_metad
is restarted 
.BR afpd
processes will transparently reconnect.

.SH SEE ALSO
.BR cnid_dbd (1),
.BR afpd (8)






