#!/usr/bin/make -f

maintainer ?= 1

ifeq ($(maintainer),1)
export DH_VERBOSE=1
export DH_OPTIONS=-v
make_flags=V=1
export V=1
endif

DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_HOST_MULTIARCH  ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

N := netatalk

export DEB_BUILD_MAINT_OPTIONS=hardening=+all
CFLAGS  := $(shell dpkg-buildflags --get CFLAGS)
CPPLAGS := $(shell dpkg-buildflags --get CPPFLAGS)
LDFLAGS := $(shell dpkg-buildflags --get LDFLAGS) -Wl,--as-needed

ifneq ($(maintainer),1)
	CFLAGS := -w $(CFLAGS)
endif

ifeq ($(DEB_BUILD_GNU_TYPE), $(DEB_HOST_GNU_TYPE))
        confflags += --build=$(DEB_HOST_GNU_TYPE)
else
        confflags += --build=$(DEB_HOST_GNU_TYPE) --host=$(DEB_HOST_GNU_TYPE)
        export DEB_BUILD_OPTIONS += nocheck
endif

MIGRATE_DIR = lib$(N)-dev $(N) $(N)-dbg $(N)-uams-std $(N)-uams-pam $(N)-uams-extra

%:
	dh $@ --with autoreconf,systemd --parallel

override_dh_auto_configure:
	./configure $(confflags) CFLAGS="$(CFLAGS) $(CPPLAGS)" LDFLAGS="$(LDFLAGS)" \
		--prefix=/usr --sysconfdir=/etc/netatalk --bindir=\$${prefix}/bin \
		--sbindir=\$${prefix}/sbin --libexecdir=\$${prefix}/lib/$(DEB_HOST_MULTIARCH) \
		--libdir=\$${prefix}/lib/$(DEB_HOST_MULTIARCH) --localstatedir=/var/lib --with-lockfile=/run/netatalk.pid \
		--includedir=\$${prefix}/include --datarootdir=\$${prefix}/share --datadir=\$${prefix}/share \
		--infodir=\$${prefix}/share/info --localedir=\$${datarootdir}/locale --mandir=\$${datarootdir}/man \
		--docdir=\$${datarootdir}/doc/netatalk --htmldir=\$${docdir} --dvidir=\$${docdir} --pdfdir=\$${docdir} \
		--psdir=\$${docdir} --with-uams-path=\$${libdir}/netatalk --with-pam-confdir=\$${sysconfdir}/pam.d \
		--with-dbus-sysconf-dir=\$${sysconfdir}/dbus-1/system.d --with-bdb=/usr/include/$(DEB_HOST_MULTIARCH)/db5 \
		--enable-dependency-tracking --enable-largefile --enable-zeroconf --with-sysroot=/ --with-afpstats \
		--with-kerberos --with-gssapi --with-acls --without-libevent --without-tdb --with-init-style=debian-systemd \
		--with-cnid-dbd-backend --with-cnid-last-backend --with-cnid-tdb-backend --with-cnid-default-backend=dbd \
		--enable-tcp-wrappers --enable-quota --enable-admin-group --with-cracklib --with-pam --with-ldap \
		--with-docbook=/usr/share/xml/docbook/stylesheet/docbook-xsl --enable-pgp-uam --enable-krb4-uam --enable-krbV-uam \
		--with-tracker-pkgconfig-version=1.0 --enable-sendfile --with-shadow

override_dh_autoreconf:
	dh_autoreconf --as-needed $(CURDIR)/bootstrap

override_dh_auto_build:
	dh_auto_build --parallel
	make html -C doc/manual 2>/dev/null
	# generate maintainer preinst script to migrate doc dirs to symlinks
	# (for all packages except libnetatalk and netatalk-doc)
	for p in $(MIGRATE_DIR); do \
		sed -e "s/@PKG@/$$p/g" debian/migrate-doc-dir.preinst.in >debian/$$p.preinst; \
	done

override_dh_install:
	mkdir -p debian/libnetatalk-dev/usr/bin
	mv debian/tmp/usr/bin/netatalk-config \
		debian/libnetatalk-dev/usr/bin/$(DEB_HOST_GNU_TYPE)-netatalk-config
	dh_installdocs -A -N$(N)-doc --link-doc=lib$(N)
	dh_install --list-missing

override_dh_strip:
	dh_strip -a --dbg-package=$(N)-dbg

override_dh_clean:
	for p in $(MIGRATE_DIR); do \
		rm -f debian/$$p.preinst; \
	done
	find doc/manpages -name '*.[158].xml' -print0 \
		| xargs -0 -I{} mv {}.in {} 2>/dev/null \
		| true
	rm -f man/man[158]/*.[158]
	find ./ -name Makefile -delete
	rm -rf autom4te.cache
	dh_clean \
		libtool config.status config.h stamp-h1 \
		config.log \
		bin/cnid/cnid2_create \
		contrib/macusers/macusers \
		contrib/shell_utils/apple_dump \
		contrib/shell_utils/asip-status.pl \
		distrib/config/netatalk-config \
		doc/html.xsl doc/man.xsl doc/manual/manual.xml
